* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header {
    padding: 40px;
}

.nav-link {
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-wrapper :nth-child(1) {
    color: #0B132A;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    margin-right: 20px;
    cursor: pointer;
}

.btn-wrapper :nth-child(2) {
    background-color: transparent;
    color: #F53855;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 50px;
    border: 1px solid #F53855;
    padding: 12px 35px;
    cursor: pointer;
}


.title {
    color: #0B132A;
    font-family: Rubik;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    margin-top: 20px;
}

.desc {
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.col-6 {
    width: 50%;
    padding: 15px;
}

.main-btn {
    padding: 17px 0;
    width: 250px;
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    background-color: #f53838;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 29px 33px -16px rgba(245, 56, 56, 0.2);
}

.title span {
    color: #0B132A;
    font-family: Rubik;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.desc span {
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.hero {
    padding: 44px 0;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1070px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: 0px 25px 63px -13px rgba(13, 16, 37, 0.07);
}

.stats-wrapper {
    display: flex;
    align-items: center;
}

.lines {
    border-left: 2px #EEEFF2 solid;
    border-right: 2px #EEEFF2 solid;
    padding: 20px 80px;
}

.options {
    padding: 100px 0px;
}

.inner-box h2 {
    color: #0B132A;
    font-family: Rubik;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
}

.inner-box p {
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content span {
    color: #4F5665;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.inner-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 420px;
    margin-left: 70px;
}

.inner-box img {
    width: 100%;
}

.asd {
    padding-left: 70px;
}

.zag h1 {
    color: #0B132A;
    text-align: center;
    font-family: Rubik;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
}

.zag {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.zag p {
    color: #4F5665;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 15px;
}

.plans-sec {
    padding: 40px 0px;
    background-color: rgb(251 251 251);
}

.zag div {
    width: 555px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-4 {
    width: 33.33%;
    padding: 15px;
}

.gift-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    border: 2px solid #DDD;
    width: 100%;
    border-radius: 10px;
    gap: 20px;
}

.gift-box:hover {
    border: 2px solid #F53838;
}

.gift-option h4 {
    color: #0B132A;
    text-align: center;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.desc-plan {
    display: flex;
    gap: 20px;
    align-items: center;
}

.gift-option img {
    padding: 43px 0px;
}

.desc-plan span {
    color: #4F5665;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}


.gift-price h5 {
    color: #0B132A;
    text-align: center;
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.gift-price span {
    color: #4F5665;
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.gift-price button {
    padding: 13px 62px;
    border: 2px solid #F53838;
    border-radius: 50px;
    background-color: #FFF;
    cursor: pointer;
    color: #F53838;
    margin-top: 10px;
}

.gift-price button:hover {
    background-color: #F53838;
    color: #FFF;
    box-shadow: 2px 29px 33px -16px rgba(245, 56, 56, 0.2);
}

.gift-price {
    padding: 30px 0px;
}

.gift-opisanie {
    padding-top: 15px;
}

.otstup {
    padding: 120px 0;
}

.qwe {
    width: 383.406px;
}

.map {
    width: 100%;
    padding: 30px 0;
}

.sponsored {
    width: 100%;
    padding: 30px 0;
}

.com {
    padding: 30px 0;
}